<nav class="nav">

  <img class="logo" routerLink="/" src="../../assets/images/logo.png" alt="image">



  <div class="menu">
    <input type="text" placeholder="Pesquisar produtos"/>
    <button>Pesquisar</button>
  </div>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a href="#">Produtos</a></li>
    <li><a href="#">Contatos</a></li>
    <li><a href="#">Masculinos</a></li>
    <li><a href="#">Femininos</a></li>

    <li><a href="#">Login</a></li>
    <li><a routerLink="/seller-auth">Vendedor</a></li>
    <li><a href="#">Carrinho (0)</a></li>
  </ul>


</nav>
